kaylynn.gay {
    tls /run/secrets/cert /run/secrets/key {
        protocols tls1.3
    }

    root * /usr/local/share/kaylynn.gay/static

    handle {
        try_files {path} {path}/
        file_server {
            pass_thru
        }
    }

    handle {
        reverse_proxy app:8080
    }
}
