/* We use the Noto family for typography;

- Noto Display is used for the heading logo.
- Noto Sans is used for body text. The default weight is 400, but bold text uses a weight of 700.
- Noto Sans Mono is used for code. The default weight is 400.

Previously, everything on this site was monospaced, but that Sucked Ass.
It was cute in its own kinda way, though. */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@700&family=Noto+Sans+Mono:wght@400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* My color names are perfect. */

:root {
  --parchment: #B0B0BF;
  --faint: #787891;
  --metallica: #535365;
  --greyish: #2e2e38;
  --blackish: #1c1c22;
  --sakura: #FCC5D3;
  --warm-pink: #f99fb4;
  --warmer-pink: #f55178;
  --hot-pink: #f32b5a;
  --wine: #60061B;
  --sky: #67aaf9;
  --depths: #0756B0;
  --emerald: #62c370;
  --banana: #F5DD90;
  --tangerine: #EC7D10;
  --wispy: #DDDDE3;
  --plain: #f6f4f3;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans";
  margin: 0 auto;
}

/* TODO: extract theme-specific colours into CSS variables to avoid repetition of rules */

.theme-dark body {
  background-color: var(--blackish);
  color: var(--plain);
}

.theme-light body {
  background-color: var(--plain);
  color: var(--blackish);
}

/* This is an attempt at fixing an absolutely vexing display inconsistency on firefox mobile */

html,
body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/* I'm not sure if this is really the greatest approach here. From the testing I did it seemed fine though. */

@media screen and (max-width: 1000px) {
  body {
    width: 87.5%;
  }
}

@media screen and (min-width: 1000px) {
  body {
    width: 77.5%;
  }
}

@media screen and (min-width: 1700px) {
  body {
    width: 67.5%;
  }
}

p {
  /* Paragraphs need their own margins since the default ones look ugly */
  margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--hot-pink);
  font-weight: 700;
  /* Margins for headers look better consistent */
  margin: 1rem 0;
  /* We need to keep the multiplier at 1 by default */
  --heading-multiplier: 1;
}

/* We don't want to double up on margins for headings */

.navbar + h1,
.navbar + h2,
.navbar + h3,
.navbar + h4,
.navbar + h5,
.navbar + h6 {
  margin-top: 0;
}

/* On smaller displays we want to make headings a bit smaller */

@media screen and (max-width: 700px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --heading-multiplier: 0.75;
  }
}

/* This is evil */

h1 {
  font-size: calc(2rem * var(--heading-multiplier));
}

h2 {
  font-size: calc(1.5rem * var(--heading-multiplier));
}

h3 {
  font-size: calc(1.17rem * var(--heading-multiplier));
}

h4 {
  font-size: calc(1rem * var(--heading-multiplier));
}

h5 {
  font-size: calc(0.83rem * var(--heading-multiplier));
}

h6 {
  font-size: calc(0.75rem * var(--heading-multiplier));
}

a {
  text-decoration-color: var(--warm-pink);
  text-decoration-thickness: 2px;
}

.theme-dark a {
  color: var(--plain);
}

.theme-light a {
  color: var(--blackish);
}

a:hover {
  color: var(--warmer-pink);
  text-decoration-color: var(--warmer-pink);
}

a:active {
  color: var(--hot-pink);
  text-decoration-color: var(--hot-pink);
  text-decoration-thickness: 3px;
}

/* Inline code needs its own rounding and background. */

code {
  border-radius: 0.125rem;
  padding: 0.1rem;
  /* We leave font-weight inherited as we use inline code in some headings */
  font-family: "Noto Sans Mono", monospace;
}

.theme-dark code {
  background-color: var(--greyish);
  color: var(--sakura);
}

.theme-light code {
  background-color: var(--wispy);
  color: var(--greyish);
}

pre {
  border-radius: 0.5rem;
  padding: 0.5rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.theme-dark pre {
  background-color: var(--greyish);
  color: var(--sakura);
}

.theme-light pre {
  background-color: var(--plain);
  color: var(--blackish);
  border: 2px solid var(--blackish);
}

/* Code inside a `pre` block does not need the styling that inline code does. */

pre code {
  border-radius: 0rem;
  padding: 0rem;
  max-width: 100%;
}

.theme-light pre code {
  background-color: var(--plain);
  border: none;
}

blockquote {
  border-left: 0.5rem solid var(--hot-pink);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: auto 0;
}

.theme-dark blockquote {
  background-color: var(--greyish);
}

.theme-light blockquote {
  background-color: var(--plain);
  outline: 2px solid var(--blackish);
}

blockquote p {
  margin: 0.25rem 0rem;
}

/* Borders need to be collapsed otherwise they look extremely ugly. */

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* Any text in a table header gets to be pretty. */

thead {
  color: var(--hot-pink);
}

td,
th {
  padding: 0.5rem 0.5rem;
}

.theme-dark td,
.theme-dark th {
  border: 1px solid var(--parchment);
}

.theme-light td,
.theme-light th {
  border: 1px solid var(--greyish);
}

li::marker {
  color: var(--hot-pink);
}

img {
  border-radius: 0.25rem;
  max-width: 100%;
  width: 100%;
}

.image-gallery {
  display: flex;
  gap: 1rem 0.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* This is used on the error page. It's also kinda a meme. */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.navbar {
  display: flex;
  margin: 1.5rem 0;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.navbar-logo {
  background-color: var(--hot-pink);
  display: inline-block;
  font-size: 2.5rem;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0.5rem 1rem;
}

.theme-dark .navbar-logo {
  color: var(--blackish);
}

.theme-light .navbar-logo {
  color: var(--plain);
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;

  padding: 0 0.5rem;
}

.navbar-content * {
  text-align: center;
  padding: 0.5rem;
}

.navbar-rest {
  background-color: var(--hot-pink);
  display: inline-block;
  align-self: stretch;
  flex-grow: 1;
}

.theme-dark .navbar-rest {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 0.5rem,
    var(--blackish) 0.5rem,
    var(--blackish) 1rem
  );
}

.theme-light .navbar-rest {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 0.5rem,
    var(--plain) 0.5rem,
    var(--plain) 1rem
  );
}

/* Mobile-specific navbar styling */
@media screen and (max-width: 700px) {
  .navbar-logo {
    flex-basis: 100%;
    text-align: center;
    padding: 0.5rem 0.25rem;
  }

  .navbar-content {
    width: 100%;
  }

  .navbar-content * {
    flex-grow: 1;
  }

  .navbar-rest {
    flex-basis: 100%;
    height: 2rem;
  }
}

.post-list-item {
  display: block;
  padding: 1rem 0;
}

.theme-dark .post-list-item {
  border-bottom: solid var(--greyish);
}

.theme-light .post-list-item {
  border-bottom: solid var(--wispy);
}

.post-description {
  display: block;
}

.post-description::after {
  content: "";
  display: block;
  margin: 1rem 0;
}

.theme-dark .post-description::after {
  border-bottom: solid var(--greyish);
}

.theme-dark .post-description::after {
  border-bottom: solid var(--wispy);
}

.post-list .post-list-item:last-of-type {
  border-bottom: none;
}

.post-list-item .post-header, .post-description .post-header {
  margin: 0 auto;
}

/* We need to use an explicit `margin` attribute here, since otherwise the timestamp will inherit its margin from `h1`
and co, which is undesirable */

.post-list-item .post-timestamp,
.post-description .post-timestamp {
  margin: 0.25rem 0 0;
}

.theme-dark .post-list-item .post-timestamp,
.theme-dark .post-description .post-timestamp {
  color: var(--parchment);
}

.theme-light .post-list-item .post-timestamp,
.theme-light .post-description .post-timestamp {
  color: var(--metallica);
}

/* The following is simply theming for highlighting */

.theme-dark .hl-comment {
  color: var(--parchment);
}

.theme-light .hl-comment {
  color: var(--faint);
}

.theme-dark .hl-constant.hl-numeric,
.theme-dark .hl-string {
  color: var(--sakura);
}

.theme-light .hl-constant.hl-numeric,
.theme-light .hl-string {
  color: var(--emerald);
}

.hl-keyword.hl-control,
.hl-entity.hl-name.hl-function,
.hl-support.hl-macro,
.hl-entity.hl-name,
.hl-support.hl-type,
.hl-storage.hl-type,
.hl-meta.hl-generic,
.hl-meta.hl-generic .hl-storage.hl-type.hl-rust,
.hl-meta.hl-generic .hl-meta.hl-path.hl-rust,
.hl-meta.hl-function.hl-parameters,
.hl-return-type,
.hl-constant.hl-other.hl-placeholder {
  color: var(--hot-pink)
}

/* What follows is an illegal set of overloads since CSS can't do what I want otherwise. */

.hl-keyword.hl-other.hl-rust + .hl-meta.hl-path.hl-rust,
.hl-keyword.hl-other.hl-rust + .hl-meta.hl-path.hl-rust + .hl-meta.hl-path.hl-rust,
.hl-keyword.hl-other.hl-rust + .hl-meta.hl-path.hl-rust + .hl-meta.hl-path.hl-rust + .hl-meta.hl-path.hl-rust,
.hl-keyword.hl-other.hl-rust + .hl-meta.hl-path.hl-rust + .hl-meta.hl-path.hl-rust + .hl-meta.hl-path.hl-rust + .hl-meta.hl-path.hl-rust,
.hl-keyword.hl-other.hl-rust + .hl-meta.hl-path.hl-rust + .hl-meta.hl-path.hl-rust + .hl-meta.hl-path.hl-rust + .hl-meta.hl-path.hl-rust + .hl-meta.hl-path.hl-rust {
  color: var(--hot-pink)
}

.theme-dark .hl-storage.hl-modifier,
.theme-dark .hl-keyword.hl-operator,
.theme-dark .hl-punctuation.hl-accessor,
.theme-dark .hl-storage.hl-type.hl-impl,
.theme-dark .hl-storage.hl-type.hl-function,
.theme-dark .hl-storage.hl-type.hl-declaration,
.theme-dark .hl-keyword.hl-control.hl-rust.hl-async,
.theme-dark .hl-keyword.hl-other,
.theme-dark .hl-entity.hl-name.hl-constant {
  color: var(--faint);
}

.theme-light .hl-storage.hl-modifier,
.theme-light .hl-keyword.hl-operator,
.theme-light .hl-punctuation.hl-accessor,
.theme-light .hl-storage.hl-type.hl-impl,
.theme-light .hl-storage.hl-type.hl-function,
.theme-light .hl-storage.hl-type.hl-declaration,
.theme-light .hl-keyword.hl-control.hl-rust.hl-async,
.theme-light .hl-keyword.hl-other,
.theme-light .hl-entity.hl-name.hl-constant {
  color: var(--greyish);
}

.theme-dark .hl-parameter.hl-variable,
.theme-dark .hl-variable.hl-function,
.theme-dark .hl-entity.hl-other,
.theme-dark .hl-constant.hl-other,
.theme-dark .hl-source {
  color: var(--sky);
}

.theme-light .hl-parameter.hl-variable,
.theme-light .hl-variable.hl-function,
.theme-light .hl-entity.hl-other,
.theme-light .hl-constant.hl-other,
.theme-light .hl-source {
  color: var(--depths);
}

.theme-dark .hl-punctuation.hl-group,
.theme-dark .hl-punctuation.hl-block,
.theme-dark .hl-meta.hl-annotation,
.theme-dark .hl-punctuation.hl-separator,
.theme-dark .hl-punctuation.hl-terminator,
.theme-dark .hl-punctuation.hl-definition.hl-table,
.theme-dark .hl-punctuation.hl-definition.hl-array,
.theme-dark .hl-punctuation.hl-definition.hl-inline-table,
.theme-dark .hl-punctuation.hl-definition.hl-key-value,
.theme-dark .hl-entity.hl-table,
.theme-dark .hl-meta.hl-annotation > .hl-meta.hl-path,
.theme-dark .hl-meta.hl-annotation > .hl-meta > .hl-keyword,
.theme-dark .hl-meta.hl-generic > .hl-punctuation,
.theme-dark .hl-meta.hl-function > .hl-punctuation,
.theme-dark .hl-meta.hl-function > .hl-punctuation.hl-comma {
  color: var(--plain)
}

.theme-light .hl-punctuation.hl-group,
.theme-light .hl-punctuation.hl-block,
.theme-light .hl-meta.hl-annotation,
.theme-light .hl-punctuation.hl-separator,
.theme-light .hl-punctuation.hl-terminator,
.theme-light .hl-punctuation.hl-definition.hl-table,
.theme-light .hl-punctuation.hl-definition.hl-array,
.theme-light .hl-punctuation.hl-definition.hl-inline-table,
.theme-light .hl-punctuation.hl-definition.hl-key-value,
.theme-light .hl-entity.hl-table,
.theme-light .hl-meta.hl-annotation > .hl-meta.hl-path,
.theme-light .hl-meta.hl-annotation > .hl-meta > .hl-keyword,
.theme-light .hl-meta.hl-generic > .hl-punctuation,
.theme-light .hl-meta.hl-function > .hl-punctuation,
.theme-light .hl-meta.hl-function > .hl-punctuation.hl-comma {
  color: var(--blackish)
}

.hl-constant {
  color: var(--emerald);
}
