{% extends "page.html.tera" %}
{% import "macros.html.tera" as macros %}
{% block title -%} {{ title }} {% endblock title %}
{% block content %}
  <div class="post-description">
      <h1 class="post-header">{{ title | escape }}</h1>
      {{ macros::published_at(when=published) }}
  </div>

  {{ content | safe }}
{% endblock content %}