{% extends "base" %}
{% import "macros" as macros %}
{% block title -%} Blog {% endblock title %}
{% block content %}
  {% for post in posts %}
    <h1 class="header-link post-header"><a href="/blog/post/{{ post.slug }}">{{ post.title }}</a></h1>
    {{ macros::published_at(when=post.published) }}
    {% if not loop.last %}<hr>{% endif %}
  {% endfor %}
{% endblock content %}